/*레이아웃 관련*/
a{color: #333; text-decoration: none; font-size: 13px;}
a:hover {color: #E2383F; text-decoration: none;}
/* 마우스가 올라간 상태(hover)일때 색상을 변경, 띄어쓰기x*/
body {color: #333;}
.wrap{width: 100; margin: 0; padding: 0; }
.head{position: relative; 
    padding: 50px 0px; 
    height: auto; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.2); 
    margin: 0 auto;
}
.head, .foot {text-align: center;}
.content img{max-width: 100%;}

#head {border-bottom: 20px solid #e2383f; }

/*
연습용
.text_style{color: blue; font-weight: 500; text-decoration: underline;}

input, select, textarea {font-size: 18px; border-color: #ccc; border-radius: 5px;}
점을 찍지 않고 작성 시 ((ex)input)) 해당 태그가 들어간 영역의 스타일에 전체 적용
#addr1, #addr2, #insa {width: 100%; }
#입력 시 id 값을 찾음*/


/*메인 스타일 관련*/
#main_img .carousel-control-prev,
#main_img img {height: auto; width: 100%; object-fit: fill;}

.main1{
    background-image: url(../img/01_bg.png); 
    background-size: auto 100% ; 
    background-repeat: repeat-x; 
}
.main2{
    background-image: url(../img/02_bg.png); 
    background-size: auto 100%; 
    background-repeat: repeat-x; 
}
.main3 {
    background-image: url(../img/03_bg2.png), url(../img/03_bg1.gif); 
    background-repeat: no-repeat, repeat;
    background-position: center center, center;
    background-size: auto 100%, auto;
    color: #fff;
}
.main4 {
    background-image: url(../img/04_bg.jpg);
    background-size: auto 100%;
    background-repeat: repeat-x; 
}

.main3 .main_link {font-size: 26px;}
.main3 a {color: #fff;}
.main3 a:hover{color: #E2383F;}
.poster {
    position: relative;
    padding: 27px; 
    background-image: url(../img/03_poster_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.main1 .carousel-control-prev-icon {width: 50px; height: 50px;}
.main1 .carousel-control-next-icon {width: 50px; height: 50px;}
.main1 .carousel-indicators button {width: 10px; height: 10px; border-radius: 50%;}

.container .book {text-align: center;font-family: "noto-sans";font-size:24px; color: #E2383F;}
.book > a {text-align: start;}

/* 캐러셀 컨테이너는 위치 기준점이 되어야 함 */
#main_img {
  position: relative;
  height:auto; /* 원하는 높이 */
  overflow: hidden;
}

/* 화살표 버튼은 캐러셀 내부에서 위치를 잡음 */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 10; /* 이미지 위에 뜨도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  overflow: hidden;
}

/* 좌우 위치 조정 */
.carousel-control-prev { left: 10px;}

.carousel-control-next { right: 10px;}

/* 아이콘 크기 */
.carousel-control-prev-icon,
.carousel-control-next-icon {width: 100%; height: 100%; background-size: 100% 100%;}

.main_title {
    font-size: 24px; 
    color: #000; 
    font-weight: 600; 
    border-bottom: 1px solid #9c9c9c; 
    padding: 5px 0;
}
.main_title_site{
    font-size: 24px; 
    color: #000; 
    font-weight: 600; 
    border-bottom: 1px solid #9c9c9c; 
    padding: 10px 0 5px 0;
}
.main_title.revers {color: #E2383F;}
/*띄어쓰기 없이 점을 직고 클래스 이름을 하나 더 붙이는 경우=두 이름이 동시에 있는 경우 적용*/
.main_title small {font-size: 14px; color: #E2383F; }
.main_title_site small {font-size: 14px; color: #E2383F; }
.main_title.revers small {color: #fff;}
.main2, .main3, .main4 {padding: 30px ;}
.icon_link p {margin: 6px 0;}
.icon_link img {height: 70px; width: auto;}

.book img {width: 180px; margin: 10px; box-shadow:5px 5px 10px #9c9c9c;}


/*게시판 스타일 관련*/
.bbs_img > img {border-radius: 20px;}
.bbs_img{ border-radius: 50px; position: relative;}
/* .bbs_img 태그 다음에 오는 img태그에만 적용*/
.bbs_img p {
    background-color: rgba(0, 0, 0, 75); 
    color: #fff; 
    position: absolute; 
    width: 100%; 
    bottom: 0; 
    margin: 0; 
    padding: 10px 5px; 
    text-align: center; 
    border-radius: 0 0 25px 25px;
}

/* 모바일 전용 마진 */
@media (max-width: 576px) {
  .mobile-img {
    display: block;               /* 이미지를 block 요소로 바꿈 */
    margin: 10px auto;            /* 상하 10px, 좌우 auto = 중앙 정렬 */
  }
}

.bbs_list > li { 
    font-family: "Noto Sans"; 
    font-size: 18px; 
    border-bottom: #ccc 1px dotted; 
    padding: 1px;
    align-items: center;
} 

.bbs_list > li h4{font-size: 32px;}

.full-text {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 400px; /* 또는 auto, 적당한 너비 */
  margin: 0 auto;
  text-transform: uppercase;
}

.full-text span {
  font-family: "noto-sans";
  font-size: 24px;
  flex: 1;
  text-align: center;
}

.full-text .white {
    position: relative;
    color: #fff;
    z-index: 1; 
}

/* 동그라미 배경 만들기 */
.full-text .white::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;  /* 글자 뒤에 위치 */
}

.site_list > div {border-right:#ccc 1px solid; margin:10px 0 5px 0}
.site_list >div:nth-child(3n) {border:none}

#carouselExampleAutoplaying2 {background: #FFF; border-radius: 10px; border: 1px #ccc solid; margin: 10px 0; padding: 10px;
}
#carouselExampleAutoplaying2 .row > div {border-right: 1px #ccc solid;}
#carouselExampleAutoplaying2 .row > div:last-child {border:none;}




/*푸터*/
.foot {background-color: #4d4d4d; padding: 14px 0 0 0; color: #FFF;}
.foot a {color: #FFF;}
.foot a.red {color: #E2383F;}

.foot_link {border-bottom: solid 2px #333;}
.foot_copy {border-top: solid 2px #7c7c7c; padding: 1rem 0 0 0;}
.foot_copy p {font-size: 10px; text-align: left;}
.foot_copy dd {font-size: 12px; text-align: left;}

/*미디어 쿼리(화면 가로 사이즈에 따른 사이즈 설정)*/
@media (max-width: 576px) {  
    #head{padding: 0; border-bottom: 10px solid #e2383f; }
    #head .navbar-brand img {width: 180px;}
    #navi >ul >li {border-bottom: 1px solid #ccc;}
    #navi .dropdown-toggle::after {display: none;}
    .main2 .bbs_img {width: 240px; margin: 0 auto;}
    .main3 .poster {width: 200px; margin: 0 auto;}
    .site_list > div {border-right:#ccc 1px solid; margin:10px 0 5px 0}
    .site_list > div:nth-child(3n) {border-right: #ccc 1px solid;}
    .site_list >div:nth-child(2n) {border:none}
    .foot_copy img {width: 90px;}
    .foot_copy dd {font-size: 12px; }
    .foot_copy p {font-size: 12px; text-align: center;}
    .foot_link a {font-size: 12px;}
    .carousel-control-prev, .carousel-control-next {top: 15%;}
    .fa-solid {font-size: 30px;}
    .carousel-indicators {margin-bottom: 0;}
    .main3 {background-size: 0, auto;}
    .main4 .book > img {width: 30%;}
    .main4 {background-size: 500% auto; background-color: #e7e7e7;}
    .main4 .ellipsis {
        display: inline-block;     /* 필요 시 block 또는 inline-block으로 설정 */
        max-width: 50%;           /* 부모 안에서 제한된 너비 */
        white-space: nowrap;       /* 줄바꿈 방지 */
        overflow: hidden;          /* 넘치는 텍스트 숨김 */
        text-overflow: ellipsis;   /* 말줄임(...) 처리 */
        }
    .fa-phone {font-size: 10px;}
    .fa-file {font-size: 10px;}
}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {  }